{% extends "base.html" %} {% block title %}Главная страница{% endblock title %} {% load static %} {% block content %}
<div class="main-content-wrapper">
	<div class="container-fluid p-0">
		<div class="row g-0 position-relative custom-top-content">
			<div class="col-6 col-lg-3">
				<img src="{% static 'images/fruit-fresh-with-kiwi-slices.png' %}" class="img-fluid w-100" alt="photo" />
			</div>
			<div class="col-6 col-lg-3">
				<img src="{% static 'images/slice-grilled-salmon.png' %}" class="img-fluid w-100" alt="photo" />
			</div>
			<div class="col-lg-3 d-none d-lg-block">
				<img
					src="{% static 'images/vegetable-salad-with-tomatoes-cucumbers-radishes-cabbage-slice-lemon.png' %}"
					class="img-fluid w-100"
					alt="photo"
				/>
			</div>
			<div class="col-lg-3 d-none d-lg-block">
				<img src="{% static 'images/pancakes-covered-with-powdered-sugar.png' %}" class="img-fluid w-100" alt="photo" />
			</div>
			<div class="custom-gradient-overlay"></div>
			<div class="slogan position-absolute bottom-0 start-0">
				<h1>
					<span class="applied_custom-black slogan-text">Открой</span><br />
					<span class="applied-custom-peach slogan-text"> магию</span
					><span class="applied-custom-orrange slogan-text"> кухни</span><br />
					<span class="applied-custom-pink slogan-text"> в каждом</span
					><span class="applied-custom-yellow slogan-text"> блюде</span>
				</h1>
			</div>
		</div>
		<section class="container py-5">
			<div class="category-top d-flex flex-row mb-4 align-items-center">
				<h1 class="col-5">Категории</h1>
				<a href="{% url 'categories' %}" class="btn btn-dark text-light ms-auto py-2">Смотреть все</a>
			</div>
			<div class="category-cards">
				{% for category in categories %}
				<div class="category-item">
					<div class="card card-custom">
						{% if category.photo %}
						<img src="{{ category.photo.url }}" class="card-img-top rounded-3" alt="{{ category.name }}" />
						{% else %}
						<img src="/media/default_image.png" class="card-img-top" alt="{{ category.name }}" />
						{% endif %}
						<div class="card-footer d-flex flex-column align-items-center">
							<h3 class="card-title text-center mb-3">{{ category.name }}</h3>
							<a href="{% url 'category_recipes' category.id %}" class="btn btn-dark text-light">Посмотреть рецепты</a>
						</div>
					</div>
				</div>
				{% empty %}
				<p>Упс... Категории пропали, мы работаем над этим!</p>
				{% endfor %}
			</div>
		</section>
		<section class="container alarm_to_action rounded-3 py-5 position-relative bg-light h-50">
			<div
				class="position-absolute py-5 d-flex flex-column justify-content-center align-items-center text-center w-100"
			>
				{% if user.is_authenticated %}
				<h1>Вдохновись и начинай готовить!</h1>
				<p class="w-50 mt-4">
					Ищи рецепты, сохраняй любимые и делись своими творениями! Создавай свой рецепт прямо сейчас!
				</p>
				<a href="{% url 'create_recipe' %}" class="btn btn-dark text-light mt-4">Создать рецепт</a>
				{% else %}
				<h1>Вдохновись и начинай готовить!</h1>
				<p class="w-50 mt-4">
					Ищи рецепты, сохраняй любимые и делись своими творениями! Присоединяйся сейчас и сделай готовку увлекательной!
				</p>
				<a href="{% url 'registration' %}" class="btn btn-dark text-light mt-4">Создать аккаунт</a>
				{% endif %}
			</div>
			<div>
				<img
					class="position-absolute alarm_to_action-img bottom-0 end-0 h-75"
					src="{% static 'images/green-broccoli.png' %}"
					alt="photo"
				/>
				<img
					class="position-absolute alarm_to_action-img bottom-0 start-0 h-75"
					src="{% static 'images/delicious-sandwich.png' %}"
					alt="photo"
				/>
			</div>
		</section>
	</div>
</div>
{% endblock content %}
